body{
    background-image: url("./img/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
main > section{
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.header{
    display: flex;
    color: rgb(97, 97, 97);
}
.logo{
    display: flex;
    align-items: center;
    font-size: 80%;
}
.logo img{
    width: 7%;
}
@media (max-width: 425px) {
    .logo img{
        width: 30%;
    }
    .header{
        display: block;
    }
    
}
@media (min-width: 425px) {
    .logo img{
        width: 50%;
    }
    
}
@media (min-width: 500px) {
    .logo img{
        width: 7%;
    }
    
}
.enlaces{
    display: flex;
    align-items: center;
    font-size: 55%;
    gap: 2rem;
}
.title{
    margin: 10rem;
}
.title h1{
    font-size: 500%;
    color: rgb(64, 64, 64);
    margin: 0;
}
.title p{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(250, 250, 250);
    width: 45%;
}
.boton{
    padding: 1rem;
    border: 0;
    width: 13%;
    margin-top: 2rem;
    font-size: x-small;
    font-weight: bold;
    color: rgb(92, 92, 92);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 768px) {
    .title{
        margin: 0;
    }
    .title h1{
        font-size: 400%;
    }
    .title p{
        width: 80%;
    }
    .boton{
        width: 8rem;
    }
}
.rombo{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid rgb(148, 148, 148);
    overflow: hidden;
    background-color: transparent;
}
.rombo h1 {
    transform: rotate(-45deg);
    text-align: center;
    color: rgb(148, 148, 148);
    font-size: 15px;
    margin: 0;
}
.romboBlue{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid whitesmoke;
    overflow: hidden;
    background-color: transparent;
}
.romboBlue h1 {
    transform: rotate(-45deg);
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    margin: 0;
}
.romboImg{
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 11px 11px 5px rgba(0, 0, 0, 0.289);
    margin-top: 5rem;
}
.romboImg img{
    transform: rotate(-45deg);
    width: 400px;
    height: 400px;
}
.parraph{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(92, 92, 92);
}
.parraph h1{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.text{
    margin-top: 10%;
}
.two{
    display: grid;
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
    gap: 5rem;
    margin: 0 20%;
    text-align: center;
}
@media (max-width: 768px){
    .two{
        display: block;
        margin: 0;
    }
    
}
.section1{
    height: 70vh;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15%;
    text-align: center;
}
.section2  h2{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section3{
    color: white;
}
.section3 img{
    width: 60px;
}
.titles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titles h3{
    margin-top: 3rem;
    font-size: .8rem;
}
.titles h1{
    margin: 0;
    font-size: 2rem;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10%;
}
.grid div{
    width: 20%;
    text-align: center;
}
.grid p{
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    width: 90%;
    padding: 1rem;
    color: rgb(0, 145, 255);
    font-weight: bold;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media (max-width: 425px){
    .grid{
        display: none;
        width: 100%;
    }
}